<h3>Como crear una entrada en catpurple.net</h3>Simple, primero entrar a <a href="/" target="_blank">catpurple.net</a>. Luego elegir un animal, elegir un color y hacer click en cualquiera de las lineas vacías. Por último ingresar un texto y dar "Save". Es todo.
<h3>¿Qué es catpurple.net?</h3>La respuesta a esa pregunta y a otras, aquí &lt;<a href="/cat/purple/341" target="_blank">preguntas frecuentes</a>
<h3>Como ver las últimas entradas de catpurple.net</h3>En <a href="/last100" target="_blank">este link</a> vas a encontrar siempre las últimas 100 cosas que se hayan ingresado al sitio.
<h3>Para tener en cuenta</h3>En los listado de entradas no aparecen las entradas completas. Para eso cada entrada tiene su propia página, a la cual se accede haciendo click sobre la entrada en el listado.
<h3>Ejemplos de como crear links</h3>
Si ingresas:
<p>&lt;a href="https://www.youtube.com/watch?v=FwWOxbQwXzs" &gt;Hula Hoop&lt;/a&gt;</p>
Sale un link así:
<a href="https://www.youtube.com/watch?v=FwWOxbQwXzs">Hula Hoop</a>

Si querés que cuando le hagan click se abra directamente en otra pestaña tenés que agregar el atributo target, así
<p>&lt;a target="_blank" href="https://www.youtube.com/watch?v=FwWOxbQwXzs" &gt;Me abro en otra pestaña&lt;/a&gt;

Y saldrá así
<a  target="_blank" href="https://www.youtube.com/watch?v=FwWOxbQwXzs" >Me abro en otra pestaña</a>

