body{margin:0px;
	background: #000000 url('/assets/img/bg1.jpg') repeat;
}
a{text-decoration: none}
img.image-loader{
	display:none;
}
#loading{
	width: 100vw;
	height: 100vh;
	color: white;
	background: #000000 url('/assets/img/bg1.jpg') repeat;
}
#header-animals img, #header-colors img{
	width: 100vw;
} 
#header{
	display: flex;
}
#header, #header img{
	height: 10.5vw;
}
#wrapper{
	min-height: 100vh;
	background: #000000 url('/assets/img/headers/black.jpg') repeat;
}
#container.blue_bg{
	background: #000000 url('/assets/img/bg1.jpg') repeat;
}
#container.page{
	background: #000000 url('/assets/img/bg3.png') repeat;
}
#container.console{
	min-height: 95vh;
}
#content .indication{
	font-size: 28px;
	padding	: 20px 0px 20px 0px;
}

/* ***************************
 * 
 * ANIMALS, COLORS
 * 
 * ***************************/
.animals, .colors{
	padding-top: 5vh;
	padding-bottom: 4vh;
	width: 70vw;
	margin: 0 auto;
}
.animal, .color{
	width: 260px;
	height: 260px;
	display: inline-block;
	cursor: pointer;
}
.animal img, .color img{
	object-fit: none;
	width: 220px;
	height: 220px;
}
.animal:hover, .color:hover{
	background-image: url('/assets/img/alpha/10.png');
	background-size: cover;
}
.animal .name, .color .name{
	visibility: hidden;
	position: absolute;
	color: #777; 
}
.animal .name{
	font-size: 40px;
}
.color .name{
	font-size: 42px;
	width: 100%;
	top: 96px;
	color: white;
	opacity: 0.3;
}
#header-colors .animal-img-container{
	width: 9vw;
	height: 9vw;
	margin-left: 2vw;
	overflow: hidden;
}
#header-colors .animal-img{
	height: 9vw;
	width: 153vw;
}
/* ***************************
 * 
 * PAGE
 * 
 * ***************************/
 
.entries .entry{
	display: flex;
}
.number{
	padding: 5px;
	color: #aaf;
}
.entries .entry .content, .collapsed-entries-line .content{
	width: 100%;
	padding: 5px;
}
.entries .entry.open .content{
	padding: 10px;
}
.invitation{
	width: 100%;
}
.invitation span{
	border: none;
	font-weight: bold;
	color: #333;
}
.saving{
	display:none;
	color: white;
}
.entries .entry.closed, .collapsed-entries-line{
	cursor: pointer;
}
#container.entry .inputs{
	padding: 10px;
	background-color: #000;
	
}
.inputs textarea{
	background-color: #000000;
	width: 100%;
	height: 80vh;
	color: #ffffff;
	border: 1px solid #222;
}
#container.entry .inputs textarea{
	height: 68vh;
}
#container.entry .inputs textarea.empty{
	color: #444;
	text-align: center;
	padding-top: 30vh;
}
.inputs .entry textarea:focus{
	border: 1px solid #aaf;
}
.inputs input{
	margin-top: 5px;
	background-color: #111;
	padding: 4px;
	border: none;
	font-weight: bold;
	cursor: pointer;
}
.inputs input.save{
	color: #777;
	width: 60%;
}
.inputs input.discard{
	color: #555;
	width: 36%;
}
.inputs input:focus{
	color: #aaf;
	border: 1px solid #aaf;
}
.film{
	height:100vh;
	background-color: #cc0033;
	z-index:1;
}
.entries .entry .text{
	color: white;
	text-align: left;
	max-height: 20vh;
	overflow: hidden;
}
.entry.db, .entry.db label{
	cursor:pointer;
}
.collapsed-entries-line{
	display: flex;
}
.entry.db .number, .entry.open .number, .entry.closed .number{
	width: 40px;
}
.collapsed-entries-line .number{
	width: 40px;
	text-align: left;
}
#container.page .message-modal{
	display:none;
}
.message-modal{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	background: url('/assets/img/bg-op80.png') repeat;
}
.message-modal .box{
	border: 3px solid purple;
	background-color: black;
	width: 60vw;
	height: 80vh;
	padding: 8vh 8vw 8vh 8vw;
	text-align: center;
	color: purple;
}
.message-modal input.ok{
	width: 80px;
	color: purple;
	background-color: #000;
	border: 1px dashed purple;
	cursor: pointer;
}
/* ***************************
 * 
 * ENTRY
 * 
 * ***************************/
.entry .edit {
	margin-top: 5px;
	height: 44px;
}
.entry .edit input{
	left: 10px;
	background-color: #333;
	color: #aaa;
	padding: 4px;
	border: none;
	font-weight: bold;
	cursor: pointer;
	width: 80px;
}
.entry .date{
	height: 24px;
}
.entry .date label{
	margin-right: 20px;
	font-style: italic;
	color: white;
}
.entry label a{
	text-decoration: underline;
}
.entry label p{
	font-family: "courier new";
	padding: 10px;
	border: 1px dashed #888;
	margin-left: 15px;
	margin-right: 15px;
} 
.entry .bc span{
	color: white;
}
.entry .bc-link{
	color: white;
	text-decoration: underline;
}
.individual-entry{
	text-align: left;
	color: white;
	padding: 10px;
	padding-top: 5px;
}
.collapsed-entries-line .invitation span{
	color: #aaf;
}
#container.entry #content{
	padding-bottom: 20px;
}
#container.entry .save{
	color: #333;
	cursor: default;
}

/* ***************************
 * 
 * COLORS
 * 
 * ***************************/
 
 .entries .entry.red, .collapsed-entries-line.red{border-bottom:1px dashed #ff0009;}
 .entries .entry.green, .collapsed-entries-line.green{border-bottom:1px dashed #005a0d;}
 .entries .entry.blue, .collapsed-entries-line.blue{border-bottom:1px dashed #14009b;}
 .entries .entry.purple, .collapsed-entries-line.purple{border-bottom:1px dashed #530072;}
 .entries .entry.yellow, .collapsed-entries-line.yellow{border-bottom:1px dashed #e1ea00;}
 .entries .entry.cyan, .collapsed-entries-line.cyan{border-bottom:1px dashed #00d1df;}
 .entries .entry.orange, .collapsed-entries-line.orange{border-bottom:1px dashed #e73a00;}
 .entries .entry.magenta, .collapsed-entries-line.magenta{border-bottom:1px dashed #eb1d38;}
 .entries .entry.crimson, .collapsed-entries-line.crimson{border-bottom:1px dashed #450000;}
 .entries .entry.pink, .collapsed-entries-line.pink{border-bottom:1px dashed #ff7877;}
 .entries .entry.white, .collapsed-entries-line.white{border-bottom:1px dashed #ffffff;}
 .entries .entry.black, .collapsed-entries-line.black{border-bottom:1px dashed #000000;}
 .entries .entry.gray, .collapsed-entries-line.gray{border-bottom:1px dashed #838383;}
 .entries .entry.brown, .collapsed-entries-line.brown{border-bottom:1px dashed #542200;}
 .entries .entry.beige, .collapsed-entries-line.beige{border-bottom:1px dashed #b28773;}
 #header.blue{ background: #000000 url('/assets/img/headers/blue.png') repeat}
 #header.red{ background: #000000 url('/assets/img/headers/red.png') repeat}
 #header.green{ background: #000000 url('/assets/img/headers/green.png') repeat}
 #header.purple{ background: #000000 url('/assets/img/headers/purple.png') repeat}
 #header.yellow{ background: #000000 url('/assets/img/headers/yellow.png') repeat}
 #header.magenta{ background: #000000 url('/assets/img/headers/magenta.png') repeat}
 #header.cyan{ background: #000000 url('/assets/img/headers/cyan.png') repeat}
 #header.orange{ background: #000000 url('/assets/img/headers/orange.png') repeat}
 #header.pink{ background: #000000 url('/assets/img/headers/pink.png') repeat}
 #header.crimson{ background: #000000 url('/assets/img/headers/crimson.png') repeat}
 #header.white{ background: #000000 url('/assets/img/headers/white.png') repeat}
 #header.black{ background: #000000 url('/assets/img/headers/majauju.png') repeat}
 #header.gray{ background: #000000 url('/assets/img/headers/gray.png') repeat}
 #header.brown{ background: #000000 url('/assets/img/headers/brown.png') repeat}
 #header.beige{ background: #000000 url('/assets/img/headers/beige.png') repeat}


/* ***************************
 * 
 * ANIMAL NAMES POSITION FIX
 * 
 * ***************************/
 
.animal .name.flamingo{
	bottom: 74px;
	width: 100%;
}
 
.animal .name.horse{
	font-size: 60px;
	bottom: 30px;
	width: 100%;
}

.animal .name.cat{
	font-size: 58px;
	top: 10px;
	left: 40px;
}
 
.animal .name.deer{
	top: 80px;
	left: 20px;
}
 
.animal .name.giraffe{
	font-size: 38px;
	top: 38px;
	left: 16px;
}
 
.animal .name.scorpion{
	font-size: 30px;
	top: 80px;
	right: 30px;
}
 
.animal .name.seal{
	font-size: 66px;
	top: 28px;
	left: 32px;
	opacity: 0.8;
}
 
.animal .name.gorilla{
	font-size: 38px;
	top: 18px;
	left: 20px;
	opacity: 0.8;
}
 
.animal .name.rhinoceros{
	font-size: 32px;
	top: 36px;
	width: 100%;
}
 
.animal .name.lion{
	font-size: 52px;
	top: 36px;
	left: 36px;
}
 
.animal .name.spider{
	font-size: 60px;
	top: 32px;
	width: 100%;
}
 
.animal .name.duck{
	font-size: 54px;
	top: 30px;
	left: 26px;
}
 
.animal .name.pig{
	font-size: 80px;
	width: 100%;
	bottom: 30px;
}
 
.animal .name.elephant{
	font-size: 38px;
	top: 36px;
	left: 22px;
}
 
.animal .name.butterfly{
	font-size: 30px;
	top: 16px;
	width: 100%;
}
 
.animal .name.swan{
	font-size: 42px;
	top: 60px;
	left: 20px;
}

/* ***************************
 * 
 * COLOR NAMES FIX
 * 
 * ***************************/
 
.color .name.white{
	color:  #444;
} 
/* letra un poco mas chica para nombres largos */
.color .name.magenta, .color .name.crimson{
	font-size: 36px;
	top: 100px;
	
}
/* letra un poco mas grande para nombres cortos */
.color .name.cyan, .color .name.pink, .color .name.red, .color .name.blue, .color .name.gray{
	font-size: 54px;
	top: 86px;
}
/* mas opacidad para colores con poco contraste */ 
.color .name.cyan, .color .name.pink, .color .name.yellow{
	opacity: 0.5;
}
/* menos opacidad para colores con mucho contraste */ 
.color .name.black, .color .name.crimson, .color .name.white, .color .name.brown{
	opacity: 0.2;
}
/* ***************************
 * 
 * ENTRIES TEXT FIXES
 * 
 * ***************************/
 
i,b,p,a {
	font-size: 1em!important;
}
/* ***************************
 * 
 * SPRITE IMAGES
 * 
 * ***************************/
  
#header-animals img, #header-colors img, #header.page img{
	height: 10.5vw;
}
#header-animals img, #header-colors img{
	width: 179.92vw;
}
#header-animals img{
	margin-left: -4.7vw;
}
#header-colors img{
	margin-left: -79.96vw;
}
 
/* ***************************
 * 
 * ANIMALS IMG POSITION
 * 
 * ***************************/

.animal.butterfly img{object-position: -220px 6px;}
.animal.cat img{object-position: -440px -0px;}
.animal.deer img{object-position: -660px -0px;}
.animal.duck img{object-position: -880px -0px;}
.animal.elephant img{object-position: -1100px -0px;}
.animal.flamingo img{object-position: -1320px -0px;}
.animal.giraffe img{object-position: -1540px -0px;}
.animal.gorilla img{object-position: -1760px -0px;}
.animal.horse img{object-position: -1980px -24px;}
.animal.lion img{object-position: -2200px -0px;}
.animal.pig img{object-position: -2420px -24px;}
.animal.rhinoceros img{object-position: -2640px -0px;}
.animal.seal img{object-position: -2860px 10px;}
.animal.scorpion img{object-position: -3080px 0px;}
.animal.spider img{object-position: -3300px 0px;}
.animal.swan img{object-position: -3520px 0px;}

/* ***************************
 * 
 * COLORS IMG POSITION
 * 
 * ***************************/

.color.beige img{object-position: -0px -0px;}
.color.black img{object-position: -220px -0px;}
.color.blue img{object-position: -440px -0px;}
.color.brown img{object-position: -660px -0px;}
.color.crimson img{object-position: -880px -0px;}
.color.cyan img{object-position: -1100px -0px;}
.color.pink img{object-position: -1320px -0px;}
.color.gray img{object-position: -1540px -0px;}
.color.green img{object-position: -1760px -0px;}
.color.magenta img{object-position: -1980px -0px;}
.color.orange img{object-position: -2200px -0px;}
.color.purple img{object-position: -2420px -0px;}
.color.red img{object-position: -2640px 0px;}
.color.white img{object-position: -2860px 0px;}
.color.yellow img{object-position: -3080px 0px;}

/* ***************************
 * 
 * ANIMALS IN COLOR PAGE POSITION
 * 
 * ***************************/
 
#header-colors .animal-img.butterfly{ margin-left: -9vw; }
#header-colors .animal-img.cat{ margin-left: -18vw; }
#header-colors .animal-img.deer{ margin-left: -27vw; }
#header-colors .animal-img.duck{ margin-left: -36vw; }
#header-colors .animal-img.elephant{ margin-left: -45vw; }
#header-colors .animal-img.flamingo{ margin-left: -54vw; }
#header-colors .animal-img.giraffe{ margin-left: -63vw; }
#header-colors .animal-img.gorilla{ margin-left: -72vw; }
#header-colors .animal-img.horse{ margin-left: -81vw; }
#header-colors .animal-img.lion{ margin-left: -90vw; }
#header-colors .animal-img.pig{ margin-left: -99vw; }
#header-colors .animal-img.rhinoceros{ margin-left: -108vw; }
#header-colors .animal-img.seal{ margin-left: -117vw; }
#header-colors .animal-img.scorpion{ margin-left: -126vw; }
#header-colors .animal-img.spider{ margin-left: -135vw; }
#header-colors .animal-img.swan{ margin-left: -144vw; }

/* ***************************
 * 
 * HEADERS 
 * 
 * ***************************/

#header.page, #header.entry {
	background: #000000 url('/assets/img/sprite-texts-bg.png') repeat;
	background-size: 877.54vw 10.5vw; /* 14795 */
	background-position: -776.74vw 0vw;
}
#header.page div, #header.entry div{
	display: inline-block;
	overflow: hidden;
}

#header.beige div{ background: #000000 url('/assets/img/headers/beige.jpg') repeat; }
#header.red div{ background: #000000 url('/assets/img/headers/red.jpg') repeat; }
#header.green div{ background: #000000 url('/assets/img/headers/green.jpg') repeat; }
#header.blue div{ background: #000000 url('/assets/img/headers/blue.jpg') repeat; }
#header.purple div{ background: #000000 url('/assets/img/headers/purple.jpg') repeat; }
#header.yellow div{ background: #000000 url('/assets/img/headers/yellow.jpg') repeat; }
#header.cyan div{ background: #000000 url('/assets/img/headers/cyan.jpg') repeat; }
#header.orange div{ background: #000000 url('/assets/img/headers/orange.jpg') repeat; }
#header.magenta div{ background: #000000 url('/assets/img/headers/magenta.jpg') repeat; }
#header.crimson div{ background: #000000 url('/assets/img/headers/crimson.jpg') repeat; }
#header.pink div{ background: #000000 url('/assets/img/headers/pink.jpg') repeat; }
#header.white div{ background: #000000 url('/assets/img/headers/white.jpg') repeat; }
#header.gray div{ background: #000000 url('/assets/img/headers/gray.jpg') repeat; }
#header.brown div{ background: #000000 url('/assets/img/headers/brown.jpg') repeat; }
#header.black div{ background: #000000; }

#header .animal-figure{ width: 12.285vw; }
#header .space{ width: 1.4vw; }
#header .bracket{ width: 3.56vw; }

#header .space img{ margin-left: -780vw;}
#header .bracket img{ margin-left: -208.82vw;}

/* ANIMALS */

#header.rhinoceros .animal-figure img{ margin-left: -122.85vw;}
#header.rhinoceros .animal-name img{ margin-left: -465.99vw;}
#header.rhinoceros .animal-name{ width: 33.23vw; }

#header.seal .animal-figure img{ margin-left: -135.13vw;}
#header.seal .animal-name img{ margin-left: -499.28vw;}
#header.seal .animal-name{ width: 10.65vw; }

#header.scorpion .animal-figure img{ margin-left: -147.42vw;}
#header.scorpion .animal-name img{ margin-left: -509.99vw;}
#header.scorpion .animal-name{ width: 25.88vw; }

#header.spider .animal-figure img{ margin-left: -159.71vw;}
#header.spider .animal-name img{ margin-left: -535.92vw;}
#header.spider .animal-name{ width: 17.64vw; }

#header.swan .animal-figure img{ margin-left: -171.99vw;}
#header.swan .animal-name img{ margin-left: -553.61vw;}
#header.swan .animal-name{ width: 14.80vw; }

#header.bear .animal-figure img{ margin-left: 184.28vw;}
#header.bear .animal-name img{ margin-left: -568.47vw;}
#header.bear .animal-name{ width: 12.86vw; }

#header.butterfly .animal-figure img{ margin-left: -196.56vw;}
#header.butterfly .animal-name img{ margin-left: -581.39vw;}
#header.butterfly .animal-name{ width: 28.14vw; }

#header.cat .animal-figure img{ margin-left: -0vw;}
#header.cat .animal-name img{ margin-left: -609.58vw;}
#header.cat .animal-name{ width: 9.24vw; }

#header.deer .animal-figure img{ margin-left: -12.29vw;}
#header.deer .animal-name img{ margin-left: -618.87vw;}
#header.deer .animal-name{ width: 12.62vw; }

#header.duck .animal-figure img{ margin-left: -24.57vw;}
#header.duck .animal-name img{ margin-left: -631.45vw;}
#header.duck .animal-name{ width: 13.83vw; }

#header.elephant .animal-figure img{ margin-left: -36.85vw;}
#header.elephant .animal-name img{ margin-left: -645.43vw;}
#header.elephant .animal-name{ width: 25.93vw; }

#header.flamingo .animal-figure img{ margin-left: -49.14vw;}
#header.flamingo .animal-name img{ margin-left: -671.28vw;}
#header.flamingo .animal-name{ width: 27.04vw; }

#header.giraffe .animal-figure img{ margin-left: -61.42vw;}
#header.giraffe .animal-name img{ margin-left: -698.33vw;}
#header.giraffe .animal-name{ width: 20.63vw; }

#header.gorilla .animal-figure img{ margin-left: -73.71vw;}
#header.gorilla .animal-name img{ margin-left: -719.09vw;}
#header.gorilla .animal-name{ width: 21.83vw; }

#header.horse .animal-figure img{ margin-left: -85.99vw;}
#header.horse .animal-name img{ margin-left: -741.03vw;}
#header.horse .animal-name{ width: 16.64vw; }

#header.lion .animal-figure img{ margin-left: -98.28vw;}
#header.lion .animal-name img{ margin-left: -757.73vw;}
#header.lion .animal-name{ width: 11.36vw; }

#header.pig .animal-figure img{ margin-left: -110.56vw;}
#header.pig .animal-name img{ margin-left: -769.07vw;}
#header.pig .animal-name{ width: 7.8vw; }

/* COLORS */

#header.beige .color-name img{ margin-left: -212.47vw;}
#header.beige .color-name{ width: 14.02vw; }

#header.red .color-name img{ margin-left: -418.79vw;}
#header.red .color-name{ width: 9.48vw; }

#header.green .color-name img{ margin-left: -324.56vw;}
#header.green .color-name{ width: 16.45vw; }

#header.blue .color-name img{ margin-left: -242.6vw;}
#header.blue .color-name{ width: 12.6vw; }

#header.purple .color-name img{ margin-left: -399.47vw;}
#header.purple .color-name{ width: 19.27vw; }

#header.yellow .color-name img{ margin-left: -444.78vw;}
#header.yellow .color-name{ width: 21.12vw; }

#header.cyan .color-name img{ margin-left: -297.99vw;}
#header.cyan .color-name{ width: 13.05vw; }

#header.orange .color-name img{ margin-left: -366.3vw;}
#header.orange .color-name{ width: 21.47vw; }

#header.magenta .color-name img{ margin-left: -340.99vw;}
#header.magenta .color-name{ width: 25.33vw; }

#header.crimson .color-name img{ margin-left: -274.36vw;}
#header.crimson .color-name{ width: 23.6vw; }

#header.pink .color-name img{ margin-left: -387.82vw;}
#header.pink .color-name{ width: 11.59vw; }

#header.white .color-name img{ margin-left: -428.29vw;}
#header.white .color-name{ width: 16.27vw; }

#header.black .color-name img{ margin-left: -226.54vw;}
#header.black .color-name{ width: 15.98vw; }

#header.gray .color-name img{ margin-left: -311.06vw;}
#header.gray .color-name{ width: 13.47vw; }

#header.brown .color-name img{ margin-left: -255.20vw;}
#header.brown .color-name{ width: 19.16vw; }


/*------- Stage 2 ------------------------------------------------------------------------------*/

.navigation-bar{
	background-color: black;
	height: 28px;
	color: #840;
	font-weight: bold;
}
.navigation-bar a{
	color: #a62;
}
.navigation-bar .left-arrow{
	margin-left: 5px;
}
.navigation-bar .right-arrow{
	margin-right: 5px;
}
#console_self{
	color: white;
	padding: 5px;
	font-family: "Courier New"
}
#console_self .line{
	display: flex;
}
#console_self .line .prompt{
	min-width: 140px;
}
#console_self .line .input_area{
	width: 100%;
}
#console_self .line input{
	background: none;
	border: none;	
	color: white;
	width: 100%;
	font-family: "Courier New"
}
